@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MySociety.cshtml";
}
<div>
    <div>
        <b>Hi, this is a website for the Trimurti Enclave Coopertaive Housing society private Ltd.</b>
    </div>
    <div>
        <div>Basic Information</div>
        <div>
            Wing A - Below are the flats in Wing A
            <div>
                
            </div>
        </div>
        <div>
            Wing B - Below are the flats in Wing B
            <div>
                
            </div>
        </div>

    </div>
</div>
<h2>Index</h2>
