<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="MySocietyEntities" connectionString="metadata=res://*/MySociety.csdl|res://*/MySociety.ssdl|res://*/MySociety.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=MySociety;user id=sa;password=sa123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>