@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_MySociety</title>
</head>
    <body>
        <header>
            <div>
                Welocome to My Society - Trimurti Enclave
            </div>
        </header>
        <div id="body">
            @RenderBody()
        </div>
        <footer>
            <div>
                Copyright - Hariom 2014
            </div>
        </footer>
    </body>
</html>
